.lettere {
  display: flex;
  justify-content: center;
  min-height: 8vh;
  max-width: 7vh;
  margin-left: 50px;
  background-color: white;
  
}
.numero {
  display: flex;
  justify-content: center;
  background-color: white;
  min-height: 8vh;
  max-width: 7vh;
  margin-left: 50px;
}
main {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}
.yellow {
  min-width: 150px;
  display: flex;
  justify-content: center;
}
.yellow-div {
  background-color: lightyellow;
}
.red {
  min-width: 150px;
  display: flex;
  justify-content: center;

  
}
.red-div {
  background-color: rgb(246, 161, 161);
  
}
.green-div {
  background-color: rgb(202, 255, 149);
  min-width: 130px;
  display: flex;
  justify-content: center;
}
.orange-div {
  background-color: rgb(254, 198, 96);
  min-width: 500px;
}
.orange {
  display: flex; 
}
.blue-div {
  background-color: lightblue;
  min-width: 80px;
  display: flex;
  justify-content: center;
}